<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="card" style="width: 70%;">
        <form method="post" class="card-body">
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" name="email" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" name="username" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" id="" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
        </form>
        <br>
        <br>
        <br>
        <label>... or <a href="/signin">signin</a></label>
    </div>
    
</body>
</html>